
<h1>Friends List</h1>

<div id="friends">
    <table class='table table-striped table-bordered table-hover'>
    <thead class="table-dark">
      <tr>
        <th>First name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Twitter</th>
        <th>User</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
      <tr>
      <td>    <%= friend.first_name %></td>
      <td>    <%= friend.last_name %></td>
      <td>    <%= friend.email %></td>
      <td>    <%= friend.phone_number %></td>
      <td>    <%= friend.twitter %></td>
      <td>    <%= friend.user_id %></td>

      <td>      <%= link_to "Show this friend", friend %></td>
    </tr>
  <% end %>

    </tbody>

  </table>
    
</div>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
