<%= render @friend %>

<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-primary"%>
  <%= link_to "Back to friends", friends_path, class:"btn btn-secondary" %>
<br/><br/>
  <%= button_to "Destroy this friend", @friend, class:"btn btn-danger", method: :delete %>
</div>
