<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  	<%= link_to 'Friend App', root_path, class:'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
    
		<% if user_signed_in? %>
			<li class="nav-item">
  			<%= link_to 'Edit Profile', edit_user_registration_path, class:'nav-link' %>
        	</li>
        	   <li class="nav-item">
  			<%= link_to 'Friends', friends_path, class:'nav-link' %>
        	</li>
        	<li class="nav-item">
  			<%= link_to 'Add Friend', new_friend_path, class:'nav-link' %>
        	</li>
        	
        <% else %>
        <li class="nav-item">
  			<%= link_to 'About Us', home_about_path, class:'nav-link' %>
        	</li>
        <li class="nav-item">
  			<%= link_to 'Sign up', new_user_registration_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
  			<%= link_to 'Sign In', new_user_session_path, class:'nav-link' %>
        </li>
        <% end %>
        
      </ul>
      	<% if user_signed_in? %>
         <li class="nav-item">
  			<%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:'btn btn-outline-success' %>
        </li>
        <% end %>
    </div>
  </div>
</nav>